{% extends 'core/base.html'%}

{% block content %}
<h1 class="text-3xl">About</h1>

      <div class="mt-6 space-y-6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolores, corrupti possimus rerum vitae pariatur? Hic quo animi error ad sequi vero ducimus eos ea dolor omnis! Veritatis, corrupti velit!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolores, corrupti possimus rerum vitae pariatur? Hic quo animi error ad sequi vero ducimus eos ea dolor omnis! Veritatis, corrupti velit!
      </p> 
    </div>
{% endblock %}